$blueNavy :	#000080;
$brownMahogany :	#c04000;
$blueSkype :	#00aff0;
$blueDark :	#003D99;
$blueFlickr :	#0063dc;
$redBright	: #FF0000;
$greenForest :	#228b22;
$whiteSmoke	: #f5f5f5;
$greenZurb :	#5da423;
$brownDarker :	#331A00;
$greenDark :	#1F7A1F;